# Generating leads from HN posts and comments

In [2]:
from datasets import load_dataset
import pandas as pd
from tqdm.auto import tqdm

c:\Users\David\Documents\Projects\hn-analysis\venv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
# df = pd.read_parquet('hf://datasets/OpenPipe/hacker-news')
ds = load_dataset("OpenPipe/hacker-news") # streaming=True
df = pd.DataFrame(ds['train'][-3_000_000:-1_000_000])

stories = df[df.type == 'story']
comments = df[df.type == 'comment']

df.tail(3)

,id,type,by,time,title,text,url,score,parent,top_level_parent,descendants,kids,deleted,dead
1999997,40813382,comment,pavon,2024-06-27 18:15:13,None,proto2 allowed both required fields and option...,None,NaN,40812948.0,40798740,NaN,"[40813554, 40816081]",None,None
1999998,40813383,comment,ju-st,2024-06-27 18:15:15,None,Sorry I wasn&#x27;t talking about density but ...,None,NaN,40811561.0,40803783,NaN,None,None,None
1999999,40813384,story,belter,2024-06-27 18:15:16,"Astronauts take shelter in Starliner, other sp...",None,https://www.space.com/iss-astronauts-shelter-r...,130.0,NaN,40813384,130.0,"[40813633, 40815312, 40813760, 40813850, 40816...",None,None